body {
    background-image: url('/static/imagenes/fondo2.jpg');
    background-size: 100% 100%; /* Establece el tamaño de la imagen de fondo (ancho 100%, alto 30%) */
    background-repeat: no-repeat;
    background-position: center top; 
    min-height: 100vh;
}

h1{
    color: white;
}

#form{
    position: relative;
    color: white;
    width: 800px;
    height:450px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    left: 250px;
    top: 30px;
    text-align: left;
}

#id_destino{
    position: relative;
    height: 30px;
    width: 600px;
    left: 45px;
}
#id_tiempodeviaje{
    height: 30px;
    width: 600px;
    position: relative;
    
}
#id_ruta{
    height: 30px;
    width: 600px;
    position: relative;
    left: 70px;
}
#id_descripcion{
    height: 30px;
    width: 600px;
    position: relative;
    left: 20px;
}
#inicio{
    text-decoration: none;
    color: #fff;
}