{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet"  href='{% static "css/usuarios.css" %}'/>

<h1 class="text-center">Modificar Usuario</h1>
<div class="container mt-5" id="container">

    {% if r %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <h5>{{ r }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}

    <form method="post" action="{% url 'modificar_usuario' usuario.id %}" class="col-md-8 mx-auto">
        {% csrf_token %}
        
        <div class="mb-3">
            <label for="{{ form.username.id_for_label }}" class="form-label">Nombre de Usuario</label>
            {{ form.username }}
        </div>

        <div class="mb-3">
            <label for="{{ form.email.id_for_label }}" class="form-label">Correo Electrónico</label>
            {{ form.email }}
        </div>

        <div class="mb-3">
            <label for="{{ form.password1.id_for_label }}" class="form-label">Nueva Contraseña</label>
            {{ form.password1 }}
        </div>

        <div class="mb-3">
            <label for="{{ form.password2.id_for_label }}" class="form-label">Confirmar Nueva Contraseña</label>
            {{ form.password2 }}
        </div>

        <div class="mb-3">
            <label for="{{ form.role.id_for_label }}" class="form-label">Rol</label>
            {{ form.role }}
        </div>

        <div class="mb-3">
            <label for="{{ form.last_name.id_for_label }}" class="form-label">Apellido</label>
            {{ form.last_name }}
        </div>

        <div class="mb-3">
            <label for="{{ form.phone_number.id_for_label }}" class="form-label">Número de Teléfono</label>
            {{ form.phone_number }}
        </div>

        <!-- Agrega un campo oculto para enviar el ID del usuario que se está modificando -->
        <input type="hidden" name="user_id" value="{{ user.id }}">

        <button type="submit" class="btn btn-primary">Modificar Usuario</button>
    </form>
</div>
{% endblock %}
